<!DOCTYPE html>
<html ng-app="cardList">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="css/main.css">
</head>

<body ng-controller="mainCtrl">
  <div class="name">{{ name }}</div>
  <br/>
  Name: <input type="text" ng-model="myFilter.name" />
  <br/> 
  Type: <input type="text" ng-model="myFilter.type" />
  <br/> 
  {{ myFilter }}

  <!-- <button ng-click="showForm = !showForm">Toggle Form</button> -->
  <button ng-hide="showForm" ng-click="showForm = true; init = true">Show Form</button>
  <button ng-show="showForm" ng-click="showForm = false">Hide Form</button>

  <div ng-hide="!init" ng-class="{hidden: showForm===false}" class="addNew">
    <div>
      Name: <input type="text" ng-model="newPokemon.name" /> </br>
      Type: <input type="text" ng-model="newPokemon.type" /> </br>
      Image: <select ng-model="newPokemon.url" ng-options="image.url as image.name for image in images"></select>
      HP: <input type="text" ng-model="newPokemon.hp" /> </br>
      ATK: <input type="text" ng-model="newPokemon.atk" /> </br>
      DEF: <input type="text" ng-model="newPokemon.def" /> </br>
      <button ng-click="addNewPokemon(newPokemon)"> Add New Card </button>
    </div>


    <div class="card">
      <div class="name">{{ newPokemon.name }}</div>
      <div class="picture" ng-style="{backgroundImage:'url(' + newPokemon.url  + ')'}"></div>

      <div class="stats">
        <div class="stat">{{ newPokemon.stats.hp}}</div>
        <div class="stat">{{ newPokemon.stats.atk}}</div>
        <div class="stat">{{ newPokemon.stats.def}}</div>
      </div>
    </div>
  </div>

  <div class="cardList">
    <div class="card" ng-repeat="card in cards | filter: myFilter">
      <div class="name">{{ card.name | uppercase}}</div>
      <!-- <img src="picture" ng-src="{{ card.url }}"/> -->
      <div class="picture" ng-style="{backgroundImage:'url(' + card.url  + ')'}">

      </div>
      <div class="stats">
        <div class="stat">HP: {{ card.stats.hp}}</div>
        <div class="stat">ATK: {{ card.stats.atk}}</div>
        <div class="stat">DEF: {{ card.stats.def}}</div>
      </div>
    </div>
  </div>
  <input type="text" ng-model="name" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.js" charset="utf-8"></script>
  <script src="app/app.js" charset="utf-8"></script>
  <script src="app/controllers/main-ctrl.js" charset="utf-8"></script>
</body>

</html>